/* .jumbotron {
    width: fit-content;
    margin-left: 33%;
} */

.search-wrapper {
    /* border-style: double; */
    padding: 2.5rem 3rem;
    margin-top: 2rem;
    /* width: 80%; */
    height: 100vh;
}

.col-sm-2 {
    font-weight: 600;
}

/* .nav-item{
    color: rgb(2, 116, 116);
    font-weight: bold;
} */

/* .form{
    text-align: left;
} */

.form-control{
    width: max-content;
}

.btn {
    background-color: cadetblue;
    border: black;
}

.fcf-body {
    margin: 0;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(247, 248, 248);
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}