/* .jumbotron {
    width: fit-content;
    margin-left: 33%;
} */

.search-wrapper {
    /* border-style: double; */
    padding: 2rem 3rem;
    margin-top: 2.5rem;
    /* width: 80%; */
    height: 100vh;
}

.col-sm-2 {
    font-weight: 600;
}

.col-sm-4 {
    max-width: 20%;
}

.form-control{
    width: max-content;
}

.btn {
    background-color: cadetblue;
    border: black;
}

.btn:hover {background-color: rgb(45, 118, 121)}

.btn:active {
  background-color:  rgb(45, 118, 121);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fcf-body {
    margin: 0;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(247, 248, 248);
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

h2 {
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
    padding: 0.5rem;
}

/* .nav-item{
    color: rgb(2, 116, 116);
    font-weight: bold;
} */

/* .form{
    text-align: left;
} */