<div class="jumbotron" style="background-color: #fff; height: calc(95vh); text-align: center;">
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-mirna-tab" data-toggle="tab" href="#nav-mirna" role="tab" aria-controls="nav-mirna" aria-selected="true">miRNA</a>
      <a class="nav-item nav-link" id="nav-target-tab" data-toggle="tab" href="#nav-target" role="tab" aria-controls="nav-target" aria-selected="false">target</a>
      <a class="nav-item nav-link" id="nav-organism-tab" data-toggle="tab" href="#nav-organism" role="tab" aria-controls="nav-organism" aria-selected="false">organism</a>
      <a class="nav-item nav-link" id="nav-mti-tab" data-toggle="tab" href="#nav-mti" role="tab" aria-controls="nav-mti" aria-selected="false">MTI</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-mirna" role="tabpanel" aria-labelledby="nav-mirna-tab">
        <br>
        <form class="form">
            <div class="form-group">
             <b><label for="mirnaNameInput">Search By miRNA</label></b>
              <input #mirna type="mirnaName" class="form-control" id="mirnaName" placeholder="Enter miRNA name">
            </div>
            <button type="submit" (click)="getMTIByMirnaName(mirna.value)" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="tab-pane fade" id="nav-target" role="tabpanel" aria-labelledby="nav-target-tab">
      <br>
      <form class="form">
        <div class="form-group">
          <b><label for="targetNameInput">Search By Target</label></b>
          <input #target type="targetName" class="form-control" id="targetName" placeholder="Enter target name">
        </div>
        <button type="submit"  (click)="getMTIByTargetName(target.value)" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="tab-pane fade" id="nav-organism" role="tabpanel" aria-labelledby="nav-organism-tab">
      <br>
      <form class="form">
        <div class="form-group">
          <b><label for="organismInput">Search By Organism</label></b>
          <input #organism type="organism" class="form-control" id="organism" placeholder="Enter organism">
        </div>
        <button type="submit" (click)="getMTIByOrganism(organism.value)" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="tab-pane fade" id="nav-mti" role="tabpanel" aria-labelledby="nav-mti-tab">
      <br>
      <form class="form">
        <div class="form-group">
          <b><label for="mtiInputs">Search By miRNA-Target Interaction</label></b>
          <br><br>
          <label for="mirnaNameInput">miRNA</label>
          <input #mir type="mirnaName" class="form-control" id="mirnaName" placeholder="Enter miRNA name">
          <br>
          <label for="targetNameInput">Target</label>
          <input #tar type="targetName" class="form-control" id="targetName" placeholder="Enter target name">
        </div>
        <button type="submit" (click)=" getMTIByMirTar(mir.value,tar.value)" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>