<div class="jumbotron" style="background-color: beige; height: 150vh; text-align: center;">
    <br>
    <h2>Download miRNA-target interaction data</h2>
    <br>
    <b><h4>Cattle Datasets</h4></b>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="assets/data/positive/cattle_dataset1_duplex_positive_feature.csv" download>
                cattle_dataset_1_positive.csv
            </a>
        </li>
        <li class="list-group-item">
            <a href="assets/data/negative/cattle_dataset1_duplex_negative_feature.csv" download>
                cattle_dataset_1_negative.csv
            </a>
        </li>
    </ul>
    <br>
    <b><h4>Celegans Datasets</h4></b>
    <ul class="list-group">
        <!-- <li class="list-group-item">
            <b><h4>Celegans Datasets</h4></b>
        </li> -->
        <li class="list-group-item">
            <a href="assets/data/positive/celegans_dataset1_duplex_positive_feature.csv" download>
                celegans_dataset_1.csv
            </a>
        </li>
        <li class="list-group-item">
            <a href="assets/data/positive/celegans_dataset2_duplex_positive_feature.csv" download>
                celegans_dataset_2.csv
            </a>
        </li>
      </ul>
    <br>
    <b><h4>Mouse Datasets</h4></b>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="assets/data/positive/mouse_dataset1_duplex_positive_feature.csv" download>
                mouse_dataset_1.csv
            </a>
        </li>
   
    <!-- <br> -->
        <li class="list-group-item">
            <a href="assets/data/positive/mouse_dataset2_duplex_positive_feature.csv" download>
                mouse_dataset_2.csv
            </a> 
        </li>
    </ul>
    <br>
    <b><h4>Human Datasets</h4></b>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="assets/data/positive/human_dataset1_duplex_positive_feature.csv" download>
                human_dataset_1.csv
            </a>
        </li>
    <!-- <br> -->
        <li class="list-group-item">
            <a href="assets/data/positive/human_dataset2_duplex_positive_feature.csv" download>
                human_dataset_2.csv
            </a>
        </li>
    <!-- <br> -->
        <li class="list-group-item">
            <a href="assets/data/positive/human_dataset3_duplex_positive_feature.csv" download>
                human_dataset_3.csv
            </a>
        </li>
    </ul>
</div>