.statistics-label {
    font-weight: 600;
}

.statistics {
    border-style: double;
    text-align: center;

    background-color: #fff;
    background-clip: border-box;
    /* border: 1.3px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
}

.container {
    margin: 1rem;
}

.resFilters-wrapper {
    font-weight: 500;
    /* color: cadetblue; */
    color: rgb(69, 126, 128);
    font-size: large;
}

h2 {
    text-shadow: 1px 1px 1px grey;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}