ul.no-bullets {
  list-style-type: none;
  cursor: pointer;
}

.list-group {
  width: auto;
}

.page-view{
  display: flex;
  flex-direction: column;
}

.page-btns {
  display: flex;
  /* margin: 10px 0px; */
}

.page-number-btn{
      color:rgb(43, 33, 185);
      border-radius: 5px;
}
  
.page-item {
  color: blue;
}

.pagination{
  display: inline-flex;
}

.nav-wrapper {
  text-align: center;
}

.btn {
  background-color: cadetblue;
  border: black;
  text-align: left;
}

.btn-wrapper {
  text-align: left;
}

.form-control-mb-12 {
  margin: 0.5rem;
}

.filter-label {
  font-weight: 500;
}

h5 {
  font-size: 1.15rem;
  margin-top: 0.5rem;
}

.col-sm-10 {
  left: 7rem;
}

.form-control {
  width: 5%;
  display: inline-block;
  margin: 0.5rem;
  height: auto;
  text-align: center;
}

#btn-apply {
  /* background-color: rgb(15, 80, 80); */
  /* background-color: cadetblue; */
  border-color: rgb(36, 35, 35);
  border-width: medium;
  padding: 0.4rem;
  margin: 0.5rem;

}

.noResults {
  height: 100%;
}